version: '3.9'

services:
    # Bases de datos
    
    mysql_suscripcion:
        image: mysql/mysql-server:latest
        ports:
            - "3310:3306"
        restart: always
        volumes:
            - db_volume_suscripcion:/var/lib/mysql
            - ../db/bdusuarios.sql:/docker-entrypoint-initdb.d/bdusuarios.sql:ro
        command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_0900_ai_ci']
        environment: 
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_HOST: localhost
            MYSQL_DATABASE: "libermusicusuarios"
            MYSQL_USER: "root"
        container_name: db_suscripcion

    mysql_musica:
        image: mysql/mysql-server:latest
        ports:
            - "3311:3306"
        restart: always
        volumes:
            - db_volume_musica:/var/lib/mysql
            - ../db/bdmusica.sql:/docker-entrypoint-initdb.d/bdmusica.sql:ro
        command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_0900_ai_ci']
        environment: 
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_HOST: localhost
            MYSQL_DATABASE: "libermusicmusica"
            MYSQL_USER: "root"
        container_name: db_musica

    mysql_listas_de_reproduccion:
        image: mysql/mysql-server:latest
        ports:
            - "3312:3306"
        restart: always
        volumes:
            - db_volume_listas_de_reproduccion:/var/lib/mysql
            - ../db/bdlistasdereproduccion.sql:/docker-entrypoint-initdb.d/bdlistasdereproduccion.sql:ro
        command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_0900_ai_ci']
        environment: 
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_HOST: localhost
            MYSQL_DATABASE: "libermusiclistasdereproduccion"
            MYSQL_USER: "root"
        container_name: db_listas_de_reproduccion

     #Microservicios
    ms_suscripcion:
        image: ms_suscripcion_libermusic
        depends_on: 
            - "mysql_suscripcion"
        ports:
            - "8090:80"
        build: 
            context: ../MSSuscripcion/
            dockerfile: Dockerfile
        environment: 
            DB_CONNECTION_STRING: "server=mysql_suscripcion;user=admin;password=admin;database=libermusicusuarios"
            
    # ms_compras:
    #    image: ms_compras_uv
    #    depends_on: 
    #        - "mysql_compras"
    #    ports:
    #        - "8091:80"
    #    build: 
    #        context: ../MSCompras/
    #        dockerfile: Dockerfile
    #    environment: 
    #        DB_CONNECTION_STRING: "server=mysql_compras;user=admin;password=admin;database=compras"

    # ms_clientes:
    #    image: ms_clientes_uv
    #    depends_on: 
    #        - "mysql_clientes"
    #    ports:
    #        - "8092:80"
    #    build: 
    #        context: ../MSClientes/
    #        dockerfile: Dockerfile
    #    environment: 
    #        DB_CONNECTION_STRING: "server=mysql_clientes;user=admin;password=admin;database=clientes"

    # API
    # api_gateway:
    #     image: api_gateway_uv
    #     depends_on: 
    #         - "ms_inventario"
    #     ports:
    #         - "5100:80"
    #     build: 
    #         context: ./GatewayTienda/
    #         dockerfile: Dockerfile
    #     environment: 
    #         URL_MS_INVENTARIO: "http://localhost:8090"

volumes:
    db_volume_suscripcion:
    db_volume_musica:
    db_volume_listas_de_reproduccion: